@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@500&family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&family=Roboto+Mono:wght@500&family=Sedgwick+Ave&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
    
}
.navbar-brand{
    font-family: 'Sedgwick Ave', cursive;
}

.special{
    font-family: 'Sedgwick Ave', cursive;

}

.boxed{
    box-shadow: 5px 10px 8px #888888;

}
.boxed:hover {
    transform: scale(1.1);

}
.footer{
    background-color: #0B0D17;
    color: aliceblue;
}    
.start{
    left: 82%;
}